@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: Roboto, serif;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  border-bottom: #ececec 1px solid;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  height: 80px;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-right: 93px;
}

.logo-color {
  color: #2196f3;
}

.nav {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav__header {
  margin-right: 294px;
}

.list {
  text-decoration: none;
  color: #212121;
  transition: 0.1s;
  margin-right: 50px;
}

.list:hover {
  color: #2196f3;
}

.list__portfolio--active {
  color: #2196f3;
}

.list__studio--active {
  color: #2196f3;
}

.address {
  display: flex;
}

.address__item__list {
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: 0.1s;
  margin-left: 40px;
}

.address__item__list:hover {
  color: #2196f3;
}

/* Main */
/* Start page */
.container {
  width: 1200px;
  margin: 0 auto;
}

.start_page {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  margin-bottom: 94px;
  width: 100%;
}

.main__text {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.main__button {
  padding: 10px 24px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  margin-top: 30px;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  transition: 0.1s;
}

.main__button:hover {
  background-color: #188ce8;
  width: 216px;
}

/* Characteristic */

.characteristics__list {
  display: flex;
  justify-content: space-between;
}

.characteristics__list__item {
  width: 270px;
}

.characteristics__list__main {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.characteristics__list__text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 10px 0 0 0;
}

/* Striving */

.striving {
  background-color: #fff;
}

.striving__text {
  text-align: center;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin: 94px 0 50px;
}

.striving__list__element {
  display: flex;
  justify-content: space-between;
  height: 294px;
}

/* Workers */

.workers {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding-top: 94px;
}

.workers__main {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin: 0 0 50px;
}

.workers__list {
  padding-bottom: 94px;
}

.workers__list__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workers__list__items {
  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.workers__name {
  text-align: center;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin: 30px 0 10px;
}

.workers__work {
  text-align: center;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.48px;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer__adress {
  padding: 60px 0;
}

.footer__logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.footer__city {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.42px;
  margin: 28px 0 0px;
}

.footer__mail__phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.42px;
  text-decoration: none;
  margin: 12px 0;
}

.footer__mail {
  margin-top: 12px;
}

/* Portfolio page */
/* Portfolio buttons */

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin: 94px 0 0 0;
}

.portfolio__nav__item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.button__all {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.button__all--active {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button__all:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button__web {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.button__web:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button__applications {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.button__applications:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.button__design {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.button__design:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button__marketing {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
}

.button__marketing:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Portfolio Posters */
.nav__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 64px 0;
}

.small__section {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  margin-bottom: 30px;
}

.content__split {
  margin: 20px 24px;
}
.content__title {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin: 0px 0px 4px 0px;
}

.content__text {
  color: #757575;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
