:root {
  --color-active-blue: #2196f3;
  --color-basic-text-black: #212121;
  --color-background-gray: #2f303a;
  --color-white: #fff;
  --color-text-grey: #757575;
  --color-milk-white: #f5f4fa;
  --color-black: #000;
  --color-primary-light: #afb1b8;
  --color-blue-hover: #188ce8;
}
