.customers {
  &__items__icon {
    fill: var(--color-primary-light);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: block;
    border-radius: 4px;
    border: 1px solid var(--color-primary-light);
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid var(--color-active-blue);
    }
  }

  &__items:hover &__items__icon {
    fill: var(--color-active-blue);
  }

  &__items:focus &__items__icon {
    fill: var(--color-active-blue);
  }

  &__title {
    color: var(--color-basic-text-black);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
